* {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
}

window#waybar {
  background-color: transparent;
  color: #fff;
  transition-property: background-color;
  transition-duration: .5s;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom: 3px solid #7fc8ff;
}

.modules-left {
  padding-right: 20px;
  border-radius: 0 1000px 1000px 0;
}

.modules-right {
  padding-left: 20px;
  border-radius: 1000px 0 0 1000px;
}

.modules-center {
  padding: 0 20px;
  border-radius: 1000px;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #fff;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #fff;
  border-radius: 3px 3px 0 0;
}

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.2);
}

#workspaces button.active {
  background-color: rgba(255, 255, 255, 0.35);
  box-shadow: inset 0 -3px #fff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 -3px #fff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#custom-bluetooth_battery,
#custom-clipboard,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#window,
#language {
  padding: 0 10px;
  color: #fff;
  border-radius: 3px;
  transition: padding 200ms, border 200ms, background-color 200ms;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#custom-bluetooth_battery:hover,
#custom-clipboard:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#mpd:hover,
#window:hover,
#language:hover {
  padding: 0 15px;
  color: #fff;
  background-color: rgba(255, 255, 255, .35);
  border: 1px solid #fff;
}

#tray * {
  padding: 0 4px;
  border-radius: 3px;
  transition: border 200ms, background-color 200ms;
}

#tray *:hover {
  background-color: rgba(255, 255, 255, .35);
  border: 1px solid #fff;
}

#workspaces {
  padding: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#battery {
  color: #fff;
}

@keyframes blink {
  to {
    background-color: #fff;
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #fff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#wireplumber {
  background-color: #fff0f5;
  color: #000000;
}

#wireplumber.muted {
  background-color: #f53c3c;
}


#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
  color: #fff;
}

#privacy-item.screenshare {
  background-color: #cf5700;
}

#privacy-item.audio-in {
  background-color: #1ca000;
}

#privacy-item.audio-out {
  background-color: #0069d4;
}

#custom-cava_mviz {
  font-family: 'Courier New';
  border-radius: 3px;
  padding: 0 5px;
  transition: padding 200ms, background-color 200ms, border 200ms;
}

#custom-cava_mviz:hover {
  background-color: rgba(255, 255, 255, 0.35);
  border: 1px solid #fff;
  padding: 0 10px;
}
