:root {
  --accent-color: #7fc8ff;
  --accent-bg-color: #7fc8ff;
  --accent-fg-color: #ffffff;

  --accent-hover-bg-color: #7fc8ff;
  --accent-active-bg-color: #7fc8ff;

  --accent-disabled-bg-color: #c0c0c0;
  --accent-disabled-fg-color: #666666;
}
