layout {

    focus-ring {
        active-color   "#9ecafb"
        inactive-color "#111416"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#9ecafb"
        inactive-color "#111416"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#9ecafb"
        inactive-color "#32608b"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#9ecafb80"
    }
}

recent-windows {
    highlight {
        active-color "#9ecafb"
        urgent-color "#ffb4ab"
    }
}
