layer-rule {
  match namespace="^wallpaper$"
  place-within-backdrop true
}

layer-rule {
  match namespace="^waybar$"

  background-effect {
      blur true
      xray true
  }
}

layer-rule {
    match namespace="^launcher$"
    match namespace="^~nwggrid$"
    match namespace=r#"^lhp\.LavaLauncher$"#
    match namespace="^logout_dialog$"

    shadow {
        on
    }

    background-effect {
      blur true
      xray false
    }
}

layer-rule {
    match namespace="swaync"

    block-out-from "screen-capture"
}

layer-rule {
    match namespace="swayosd"

    background-effect {
        blur true
        xray false
    }
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^com\.obsproject\.Studio$"#

    block-out-from "screen-capture"
}

window-rule {
    match app-id=r#"^at\.yrlf\.wl_mirror$"#

    open-on-output "HDMI-A-1"
    open-fullscreen true
}

window-rule {
    match title=r#"^Picture in picture$"#
    match app-id=r#"^org\.kde\.kdeconnect\.(handler|daemon)$"#

    open-floating true
    default-floating-position x=950 y=300 relative-to="bottom-left"
    default-column-width { fixed 900; }
    default-window-height { fixed 500; }
}

window-rule {
  match title="^Solitaire$"

  open-maximized true
}
