layer-rule {
  match namespace="^wallpaper$"
  place-within-backdrop true
}

layer-rule {
    match namespace="^launcher$"

    shadow {
        on
    }
}

layer-rule {
    match namespace="swaync"

    block-out-from "screen-capture"
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^com\.obsproject\.Studio$"#

    block-out-from "screen-capture"
}

window-rule {
    match app-id=r#"^at\.yrlf\.wl_mirror$"#

    open-on-output "HDMI-A-1"
    open-fullscreen true
}

window-rule {
    match title=r#"^Picture in picture$"#
    match app-id=r#"^org\.kde\.kdeconnect\.(handler|daemon)$"#

    open-floating true
    default-floating-position x=32 y=32 relative-to="bottom-right"
}

window-rule {
  match title="^Solitaire$"

  open-maximized true
}
