window {
  background: rgba (0, 0, 0, .93);
	border-radius: 1rem;
	border-style: solid;
	border-width: 2px;
	border-color: #7fc8ff;
}

#box {
  padding: 10px;
}

button, image {
	background: none;
	border-style: none;
	box-shadow: none;
	color: #999
}

button {
	padding: 4px;
	margin-left: 4px;
	margin-right: 4px;
	color: #eee;
  font-size: 12px
}

button:hover {
	background-color: rgba (255, 255, 255, 0.15);
	border-radius: .5rem;
}

button:focus {
	box-shadow: 0 0 2px;
}
